

  
  <section id="result" class="text-gray-600 bg-black body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
     
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-xl title-font font-medium mb-2">By Analyzing your Data</h2>
          <h2 class="text-white text-xl title-font font-medium mb-2">Here We Draw Our Conclusion: </h2>
  <br>

  {% if error_message %}
 {{ error_message}}

  {% else %}

  

          {% if prediction_text=="Yes" %}
                     
          Based on the data you provided, <span class="text-green-500 font-bold"> we are pleased to inform you that you meet the eligibility criteria for obtaining a loan from most banks with confidence.</span>.
      {% elif prediction_text=="No" %}
      <span class="text-red-500 font-bold"> We regret to inform you that, based on the information provided, securing a loan from most banks may be challenging at this time. We wish you the best of luck in your financial endeavors.</span>.
    
      {% else %}
          No result available.


          
  {% endif %}

  {% endif %}



      
        </div>
      </div>
     

    
  </section>